{% extends '::base.html.twig' %}
{% block page_title %}HearthChance{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-md-6">
            <form action="{{ path('home') }}" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
                <p>
                    <button class="btn btn-success" type="submit">Calculate</button>
                </p>
            </form>
        </div>
    </div>

    {% if results == -1 %}
        <p>Enter some figures above so I can work out the odds of it happening</p>
    {% else %}
        <p>The chances of that happening are:</p>
        <div class="results">{{ results }}%</div>
    {% endif %}

{% endblock %}
