{% extends '::base.html.twig' %}
{% block page_title %}HearthChance{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-md-6">
            <form action="{{ path('home') }}" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
                <p>
                    <button class="btn btn-success" type="submit">Calculate</button>
                </p>
            </form>
        </div>
    </div>

    <p>The chances of that happening are: {{ results }}%</p>

{% endblock %}
